ADMIN_PASSWORD=
CHANNEL_ID=
DISCORD_TOKEN=
PANEL_PASSWORD=admin
RELAY_NOTIFICATIONS=true
RELAY_TWITCH_CHANNEL=
TWITCH_BOT_TOKEN=
TWITCH_BOT_USERNAME=
TWITCH_CHANNEL=chanek_username
TWITCH_CLIENT_ID=your_twitch_id
TWITCH_CLIENT_SECRET=your_client_secret
